@@include('template/layout/header.html')
<main class="content">
  <div class="container">
    <div class="row row-bg">
      <div class="col-lg-3">
        @@include('template/blocks/aside.html')
      </div>
      <div class="col-lg-9">
        <div class="row">
          @@include('template/blocks/breadcrumb.html')
        </div>
        <section class="about">
          <div class="gallery-header">Добро пожаловать!</div>
          <div class="about-text">Головной офис нашего предприятия и центральный склад находятся в г. Киев</div>
          <div class="row about-row">
            <div class="col-md-3 text-center">
              <img src="img/boss.png" alt="boss" class="img-fluid about-img">
              <div class="about-surname">Кондакова Елена Викторовна</div>
              <div class="about-position">Директор</div>
            </div>
            <div class="col-md-3 text-center">
              <img src="img/ab_1.png" alt="boss" class="img-fluid about-img">
              <div class="about-surname">Салимон<br> Яна</div>
              <div class="about-position">Администратор сети ЛХ</div>
            </div>
            <div class="col-md-3 text-center">
              <img src="img/ab_2.png" alt="boss" class="img-fluid about-img">
              <div class="about-surname">Голышева<br>  Юлия</div>
              <div class="about-position">Менеджер по работе с украинскими и иностранными поставщиками</div>
            </div>
            <div class="col-md-3 text-center">
              <img src="img/ab_3.png" alt="boss" class="img-fluid about-img">
              <div class="about-surname">Костюкова<br> Марина</div>
              <div class="about-position">Менеджер<br> по работе с клиентами</div>
            </div>
          </div>
          <div class="row about-master">
            <div class="col-md-4">

            </div>

          </div>
        </section>
      </div>
    </div>
  </div>
</main>
@@include('template/layout/footer.html')