@@include('template/layout/header.html')
<main class="content">
  <div class="container">
    <div class="row row-bg">
      <div class="col-lg-3">
        @@include('template/blocks/aside.html')
      </div>
      <div class="col-lg-9">
        <div class="row">
          @@include('template/blocks/breadcrumb.html')
        </div>
        <section class="about">
          <div class="gallery-header">Добро пожаловать!</div>
          <div class="about-text">Головной офис нашего предприятия и центральный склад находятся в г. Киев</div>
          <div class="row about-row">
            <div class="col-md-3 text-center">
              <img src="img/boss.png" alt="boss" class="img-fluid about-img">
              <div class="about-surname">Кондакова Елена Викторовна</div>
              <div class="about-position">Директор</div>
            </div>
            <div class="col-md-3 text-center">
              <img src="img/ab_1.png" alt="boss" class="img-fluid about-img">
              <div class="about-surname">Салимон<br> Яна</div>
              <div class="about-position">Администратор сети ЛХ</div>
            </div>
            <div class="col-md-3 text-center">
              <img src="img/ab_2.png" alt="boss" class="img-fluid about-img">
              <div class="about-surname">Голышева<br>  Юлия</div>
              <div class="about-position">Менеджер по работе с украинскими и иностранными поставщиками</div>
            </div>
            <div class="col-md-3 text-center">
              <img src="img/ab_3.png" alt="boss" class="img-fluid about-img">
              <div class="about-surname">Костюкова<br> Марина</div>
              <div class="about-position">Менеджер<br> по работе с клиентами</div>
            </div>
          </div>
          <div class="row about-master">
            <div class="col-md-4">
              <div class="about-master-first about-master-wrap">
                <div class="about-master-text"><strong>В магазине «Лавка художника» город Киев (ТРЦ "ART MALL") проводятся</strong></div>
                <div class="about-master-title">МАСТЕР – КЛАССЫ</div>
                <div class="about-master-text">В мастер-классах могут принимать участие все желающие, художественной подготовки для этого не требуется (дети от 7 лет)!!!</div>
                <div class="about-master-link"><a href="#">Подробнее ></a></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="about-master-second about-master-wrap">
                <div class="about-master-text"><strong>В магазине «Лавка художника» город Киев (ТРЦ "ART MALL") проводятся</strong></div>
                <div class="about-master-title">МАСТЕР – КЛАССЫ</div>
                <div class="about-master-text">В мастер-классах могут принимать участие все желающие, художественной подготовки для этого не требуется (дети от 7 лет)!!!</div>
                <div class="about-master-link"><a href="#">Подробнее ></a></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="about-master-third about-master-wrap">
                <div class="about-master-text"><strong>В магазине «Лавка художника» город Киев (ТРЦ "ART MALL") проводятся</strong></div>
                <div class="about-master-title">МАСТЕР – КЛАССЫ</div>
                <div class="about-master-text">В мастер-классах могут принимать участие все желающие, художественной подготовки для этого не требуется (дети от 7 лет)!!!</div>
                <div class="about-master-link"><a href="#">Подробнее ></a></div>
              </div>
            </div>

          </div>
          <div class="row about-sale">
            <div class="col">
              <div class="about-sale text-center">
                <img src="img/ab_7.png" alt="about" class="img-fluid ">
              </div>
              <div class="about-sale-title text-center">Акции:</div>
              <ol>
                <li><span class="about-sale-red">СЧАСТЛИВЫЕ ЧАСЫ!</span> <strong>С 10:00-12:00 действует скидка  -15% на весь товар!!!*</strong><br>
                  Акция действует с 01.01.2017до 31. 01. 2017г.<br>
                  <span class="about-sale-ita">* товар, приобретенный по акции со скидкой, возврату и обмену не подлежит.</span></li>
                <li><strong>Все масляные краски 37 мл Pebeo (Пебео) Франция по <a href="#">29,00 грн</a>!!.</strong><br>
                  <span class="about-sale-ita">* Кроме иридисцентных и металликов</span></li>
                <li><strong>В магазине «Лавка художника» действует <a href="#">скидка 10%</a> для студентов художественных школ и ВУЗов, а также для членов Союза Художника*</strong><br>
                  <span class="about-sale-ita">* Скидка не распространяется на КНИГИ и действует только по предъявлению соответствующих документов.
                    Скидка действует до 31.12.2016 г.</span></li>
                <li><strong>В магазине «Лавка художника» действует <a href="#">скидка 10%</a> для членов СХУ на все материалы.</strong></li>
                <li><strong>В наших магазинах действуют <a href="#">скидки</a> по карточкам других художественных магазинов*</strong><br>
                  <span class="about-sale-ita">*скидки предоставляются только по предъявлению скидочной карты. Максимальный размер скидки 20%
                    * товар, приобретенный по акции со скидкой, возврату и обмену не подлежит.</span></li>
                <li><strong>В наших магазинах действует <a href="#">скидка 10%</a> для всех ПЕНСИОНЕРОВ</strong></li>
                <li><strong>В наших магазинах действует <a href="#">скидка 7%</a> для участников МК</strong></li>
                <li><strong>Вы можете получить <a href="#">скидочную карту</a> при покупке от 3000 грн</strong></li>
              </ol>
            </div>
          </div>

        </section>
        <section class="shop">
          <div class="row">
            <div class="col">
              <div class="shop-title">Наши магазины:</div>
              <address class="shop-title-address">г.Киев  ТЦ "ОЛИПИЙСКИЙ"</address>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"><div class="shop-map"><img src="img/map.png" alt="shop" class="img-fluid"></div></div>
            <div class="col-md-6">
              <address class="shop-address">
                <p>ул.Красноармейская, 72а<br> ТК "Олимпийский", 3-й этаж</p>
                <p>тел./факс: <a href="tel:+380445932605"></a>0 (44) 593-26-05</p>
                <p>График работы:<br> Понедельник-воскресенье, без выходных c 10-00 до 20-30.
              </address>
              <ul class="product-list">
                <li class="product-item"><a href="#"><img src="img/fas_g.svg" alt="fac" class="img-fluid"></a></li>
                <li class="product-item"><a href="#"><img src="img/vk_g.svg" alt="vk" class="img-fluid"></a></li>
                <li class="product-item"><a href="#"><img src="img/od_g.svg" alt="od" class="img-fluid"></a></li>
                <li class="product-item"><a href="#"><img src="img/g_g.svg" alt="g" class="img-fluid"></a></li>
              </ul>
            </div>
          </div>
          <div class="row row-text">
            <div class="col">
              <p>Все сотрудники магазина – художники, и каждый из нас имеет свои предпочтения в творчестве. Мы пишем маслом, акварелью, рисуем батик, творим в графических программах, увлекаемся скульптурой, граффити, скрапбукингом.</p>
              <p>Команда магазина «Лавка Художника» научит Вас использовать все современные материалы на мастер-классах, и поможет вам определить нужные материалы индивидуально, для Ваших идей!</p>
              <p>У нас Вы найдете большой ассортимент материалов для хобби и творчества:  это материалы для росписи по стеклу, керамике, ткани, краски и холсты для масляной, акриловой живописи, огромный выбор материалов для скрапбукинга и декупажа и многое другое.</p>
            </div>
          </div>
          <div class="row about-row">
              <div class="col text-center">
                <img src="img/ab_8.png" alt="boss" class="img-fluid about-img">
                <div class="about-surname">Иван Костенко</div>
                <div class="about-position">Директор</div>
              </div>
              <div class="col text-center">
                <img src="img/ab_9.png" alt="boss" class="img-fluid about-img">
                <div class="about-surname">Халолий Юлия</div>
                <div class="about-position">Зам Директора.</div>
              </div>
              <div class="col text-center">
                <img src="img/ab_10.png" alt="boss" class="img-fluid about-img">
                <div class="about-surname">Яна Литовченко</div>
                <div class="about-position">Продавец-<br> консультант.<br>
                  Художник-<br> конструктор<br> (графический<br> дизайнер)</div>
              </div>
              <div class="col text-center">
                <img src="img/ab_11.png" alt="boss" class="img-fluid about-img">
                <div class="about-surname">Оксана Зозуля</div>
                <div class="about-position">Продавец-<br> консультант</div>
              </div>
              <div class="col text-center">
                <img src="img/ab_12.png" alt="boss" class="img-fluid about-img">
                <div class="about-surname">Солодуха Наталия</div>
                <div class="about-position">Продавец-<br> консультант.<br> Художник-дизайнер</div>
              </div>
            </div>
          <div class="row row-img">
            <div class="col-md-3"><img src="img/ab_13.png" alt="about" class="img-fluid"></div>
            <div class="col-md-3"><img src="img/ab_14.png" alt="about" class="img-fluid"></div>
            <div class="col-md-3"><img src="img/ab_15.png" alt="about" class="img-fluid"></div>
            <div class="col-md-3"><img src="img/ab_16.png" alt="about" class="img-fluid"></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
@@include('template/layout/footer.html')