@@include('template/layout/header.html')
<main class="content">
    <div class="container">
        <div class="row row-bg">
            <div class="col-lg-3">
                @@include('template/blocks/aside.html')
            </div>
            <div class="col-lg-9">
                <div class="row">
                    @@include('template/blocks/breadcrumb.html')
                </div>
                <section class="gallery">
                    <div class="gallery-header">Краски для аэрографии</div>
                    <div class="gallery-author">Автор <span class="gallery-author-name">Токарев Игорь</span></div>
                    <p class="mar-bot">Бывают разные типы красок, которыми можно рисовать аэрографом.  Они делятся по их предназначению (универсальные, по металлу, пластику, по стеклу, ткани и т.п.). практически все ищут сразу готовую краску для аэрографии(акриловая краска специально разработанная для аэрографии либо авто эмали), в замен им есть альтернативные варианты, которые подходят для нанесения через аэрограф.</p>
                    <p><strong>Акрил</strong> универсален, подходит для разных областей применения.
                        Главное достоинство акриловых красок - короткое время высыхания, акриловая краска сохнет буквально на глазах и готова к обработке сразу же после высыхания. Другим их достоинством (и немалым) является отсутствие запаха при работе. Краски прекрасно распыляются (но это дело практики). Большим достоинством красок нового поколения является очень дешёвый и доступный растворитель – вода.</p>
                    <div class="gallery-desc">Преимущества водорастворимых акриловых красок:</div>
                    <ul>
                        <li>не нужны специальные растворители;</li>
                        <li>отсутствует неприятный запах, не ядовиты и гипоаллергенны (то есть не вызывают аллергических реакций);</li>
                        <li>в отличие от других водорастворимых красок, акрил быстро сохнет и после высыхания не пачкается;</li>
                        <li>легко смываются с рук;</li>
                        <li>широкий выбор непрозрачных кроющих красок (можно, например, писать белым по черному без образования «грязи»);</li>
                    </ul>
                    <div class="gallery-desc">Чем разбавлять акрил?</div>
                    <p>Как правило, они на водной основе, если густые, то растворяются водой, либо раствором- дистиллированная вода + водка в пропорции 1/1Поверьте- это важное условие краска должна быть консистенцией как молоко.
                        Для получения более прозрачных цветов нужно добавлять больше разбавителя, до той консистенции которая необходима!</p>
                </section>
                <section class="aerog">
                    <div class="aerog-title">Акрил MAIMERI Policolor, maimeri acrilico, idea decor</div>
                    <div class="row aerog-row">
                        <div class="col-md-3 text-center">
                            <a href="#"><img src="img/a_1.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-9">
                            <p>Policolor - краска итальянской фирмы маймери, краска очень густая, пригодна для аэрографии, при хорошем ее разбавлении, выпускается в широкой цветовой палитре.  Светостойкость указана на банке звёздочками. Неприятная особенность-нередко забивает сопло, не рекомендую при диаметре сопла меньше чем 0.3 мм. В целом наиболее подходят для аэрографии и по качеству и по цене</p>
                            <p>Обычно используют краску этого производителя для настенной росписи, и живописи maimeri acrilico, idea decor-не такие покрывные </p>
                        </div>
                    </div>
                    <div class="aerog-title">Профессиональная краска Rubens"Premia" (Рубенс Премия)</div>
                    <div class="row aerog-row">
                        <div class="col-md-3 text-center">
                            <a href="#"><img src="img/a_2.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-9">
                            <p>Цвета очень насыщенные и яркие.</p>
                            <p>Краски из натуральных пигментов, водорастворимые, обладают прекрасной адгезией (сцепляемостью) к любой поверхности, в том числе к пластикам, которые тяжело красить(капрон, полиэстер),любым металлам, стенам,, холсту, стеклу, окрашенным любой краской поверхностям, дереву, тканям и т.д.Ложатся очень равномерно, обладают насыщенным цветом, который не блекнет после высыхания. Распыл равномерный,"сопли" на конце игры не собираются при правильном их разбавлении,"плевков" нет.</p>
                            <p>Нужно внимательно смотреть маркировку-часть красок корпусные, часть полупрозрачные и прозрачные  лесировочные.</p>
                            <p>Корпусные (маркировка чёрный квадратик) - действительно очень корпусные краски, поэтому нужно быть аккуратнее. Полупрозрачные (маркировка наполовину закрашенный квадратик). Лесировочные (маркировка белый квадрат) - для особо тонких лесировок, краска мелкодисперсная работает с очень мелкими соплышками до 0.15мм.</p>
                        </div>
                    </div>
                    <div class="aerog-title">Краска Rubens"Atelier" (Рубенс Ателье)</div>
                    <div class="row aerog-row">
                        <div class="col-md-3 text-center">
                            <a href="#"><img src="img/a_3.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-9">
                            <p>- уступает Премии, крупнее пигмент. не натуральный, более жидкая, отлично подходит для аэрографии. Работает с соплами от 0.2мм.</p>
                        </div>
                    </div>
                    <div class="aerog-title">Rubens"Deko" (Рубенс Декоракрил)</div>
                    <div class="row aerog-row">
                        <div class="col-md-3 text-center">
                            <a href="#"><img src="img/a_4.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-9">
                            <p>самая жидкая краска из рубенсовой линейки, это лессировочные краски работают с соплом от 0.3мм.</p>
                        </div>
                    </div>
                    <div class="aerog-title">Лаки</div>
                    <div class="row aerog-row">
                        <div class="col-md-3 text-center">
                            <a href="#"><img src="img/a_5.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-9">
                            <p>Водорастворимые лаки при небольшом их разбавлении отлично распыляются аэрографом. Для качественного закрепления необходимо наложение нескольких слоев лака.</p>
                            <p>Лаки  на синтетических смолах чуть труднее в распылении, их труднее разбавлять до жидкого состояния, без потери свойств лака.</p>
                            <p>Покрывные лаки для заключительных работ, даммарные, фиксативы, тоже отлично распыляются. Работают с соплом от 0.3 мм.</p>
                        </div>
                    </div>
                    <div class="aerog-title">Пигменты</div>
                    <div class="row aerog-row">
                        <div class="col">
                            <p>Для них нужны связующие, если их нет, возможно использовать лаки как основу.</p>
                        </div>
                    </div>
                    <div class="aerog-title"> Жидкий металл</div>
                    <div class="row aerog-row">
                        <div class="col-md-3 text-center">
                            <a href="#"><img src="img/a_6.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-9">
                            <p>- краски из металлических пигментов, обладают прекрасной адгезией (сцепляемостью) к любой поверхности, пластикам, любым металлам, холсту, стеклу, окрашенным любой краской поверхностям, дереву, гипсу, керамике, стеклу. Закрепляются лаками на водной основе для золочения. Ложатся очень равномерно, обладают насыщенным цветом, который не блекнет после высыхания. Распыл равномерный,"плевков" нет. Работают с соплом от 0.2 мм.</p>
                            <p>Жидкая поталь фирмы Kreul (Кройль) не требует разбавления, отлично подходит для аэрографии.</p>
                            <p>Жидкий металл Maimeri (Маймери) разбавляется спиртом.</p>
                            <p>Жидкий металл Viva ( Вива) разбавляется водой,</p>
                        </div>
                    </div>
                    <div class="aerog-title">Тушь ROTRING</div>
                    <div class="row aerog-row">
                        <div class="col-md-3 text-center">
                            <a href="#"><img src="img/a_7.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-9">
                            <p>можно использовать как краску для аэрографии, особенно для тренировки и для работы по бумаге и картону, очень качественна и насыщена, смешивается с акриловой краской. Недостаток -небольшая цветовая палитра. работает с соплом от 0.2мм.</p>
                            <p>Аэрограф промывать средством для мытья стекол.</p>
                            <p>Гуашь - плохо подходит для аэрографии, мгновенно забивает аэрограф, больше придётся чистить аэрограф, чем рисовать, поэтому лучше не пробовать. работает с соплом от 0.5мм.</p>
                        </div>
                    </div>
                    <div class="aerog-title">Акварель</div>
                    <div class="row aerog-row">
                        <div class="col-md-3 text-center">
                            <a href="#"><img src="img/a_8.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-9">
                            <p>-работать приятно, но на солнышке быстро выгорает. Эта краска подходит только для создания иллюстраций в полиграфии, и для акварельной живописи.</p>
                            <p>Работает с соплом от 0.2мм.</p>
                        </div>
                    </div>
                    <div class="aerog-title">Масляная краска </div>
                    <div class="row aerog-row">
                        <div class="col-md-3 text-center">
                            <a href="#"><img src="img/a_9.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-9">
                            <p>фирмы <strong>Nerchau (Нерхау)</strong> Германия, <strong>Classico Maimeri (Маймери)</strong> Италия, <strong>Мастер класс</strong> Санкт-петербург.</p>
                            <p>-чудесная вещь, разводить скипидаром или уайт-спиритом. закрепить  даммарным лаком. В использовании похожа на автомобильную краску, но цвета получаются намного приятнее и живее, без эффекта иллюстративности. Чтобы нормально работать маслом, разводить краску лучше разбавителем без запаха, однако тогда работать нужно в очень хорошо проветриваемом помещении, поскольку концентрация паров растворителя становится малозаметной и можно серьёзно повредить здоровье. работает с соплом 0.3 и мелкодисперсная от 0.2 мм.</p>
                        </div>
                    </div>
                    <div class="aerog-title">Витражные краски  “идея ветро” Maimeri (Маймери), “хобби лайн” фирмы C.Kreul (Кройль)</div>
                    <div class="row aerog-row">
                        <div class="col-md-3 text-center">
                            <a href="#"><img src="img/a_10.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-9">
                            <p>Краска лаковая прозр. по стеклу и металлу <strong>Vitrail Pebeo</strong> (Пебео).</p>
                            <p>Необходимо тщательно обезжиривать поверхность перед работой и оберегать её от пыли, поскольку краска по стеклу прозрачна и любая пылинка проявит себя в виде тёмного пятна,а особенно это видно при работе аэрографом. Поэтому при обработке перед покраской не следует применять ворсистых тряпок, салфеток и т.п.</p>
                            <p>Витражные краски приятные в работе, но только при разбавлении "родным" синтетическим разбавителем, можно также расписывать некоторые виды прозрачных пластиков. Интересно,что добавляя витражную краску в лак на основе синтетических смол фирмы <strong>C.Kreul</strong> (Кройль) можно получить эффект кенди-красок (прозрачное наслоение краски отличается от лессировки глубиной цвета)</p>
                        </div>
                    </div>
                    <div class="aerog-title">Текстильные краски фирмы C.Kreul (Кройль)</div>
                    <div class="row aerog-row">
                        <div class="col-md-3 text-center">
                            <a href="#"><img src="img/a_11.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-9">
                            <p>Краски по шелку отлично распыляются и не требуют разбавления.</p>
                            <p>Краски по светлым тканям “Сани” нужно доводить до необходимой  консистенции разбавляя водой, но не больше 20 процентов, т.к.они могут потерять закрепительные свойства. Этими красками можно работать как по светлым так и по темным тканям (по темным нужна белая подложка) закрепляются утюгом. Работают с соплом от 0.3 мм.</p>
                        </div>
                    </div>
                    <div class="aerog-title">Эмаль Rainbow</div>
                    <div class="row aerog-row">
                        <div class="col-md-3 text-center">
                            <a href="#"><img src="img/a_12.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-9">
                            <p>-качественные краски , разбавляемые органическим растворителем , применяются в моделизме.</p>
                            <p>Работают с соплом от 0.2 мм.</p>
                        </div>
                    </div>
                    <div class="aerog-title"> Акриловая краска для аэрографии</div>
                    <div class="row aerog-row">
                        <div class="col-md-3 text-center">
                            <a href="#"><img src="img/a_13.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-9">
                            <p><strong>SP-NAIL COLOR.</strong> Универсальная акриловая краска  для аэрографии, нетоксичная, объем 30мл, готовая к нанесению при помощи аэрографа, так же может наноситься и кистью. Она прекрасно подойдет для нейл арта, образуя прочное покрытие. Краска водорастворима, цвета прекрасно смешиваются между собой. Емкость оснащена удобным носиком-дозатором, что позволяет добавлять краску в емкость аэрографа покапельно.</p>
                            <p><strong>SP-TATTOO COLOR.</strong> Универсальная акриловая краска, нетоксичная для аэрографии, объем 30мл, (в ассортименте) уже готовая к нанесению при помощи аэрографа, так же может наноситься и кистью. Она прекрасно подойдет для бодиарта и нейл арта, образуя эластичное и в тоже время прочное покрытие.</p>
                            <p>Краска может находиться на тело, держится  до 3 дней,  водорастворима. Все цвета в палитре прекрасно смешиваются между собой. Емкость оснащена удобным носиком-дозатором, что позволяет добавлять краску в емкость аэрографа покапельно. Работают с соплом от 0.2 мм.</p>
                        </div>
                    </div>
                    <div class="aerog-title"> Краска для аэрографии на водной основе "Colorex" 45мл. </div>
                    <div class="row aerog-row">
                        <div class="col-md-3 text-center">
                            <a href="#"><img src="img/a_13.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-9">
                            <p>Водорастворимые краски для аэрографии  <strong>"Colorex"</strong> представляют собой жидкие акриловые краски на спиртовой основе. Могут смешиваться между собой в любых соотношениях. Готовы к применению, при необходимости регулирования интенсивность цвета либо для распыления через аэрограф необходимо разбавление водой(сопло 0.3 разбавление 1краска/1вода). После высыхания образуют прочную нестираемую и несмываемую пленку, отличие от акрила на водной основе "Colorex" более стойкий к механическим повреждениям.  Можно достичь интересных эффектов, используя наложение цветов. Изготовлены на основе акриловой дисперсии. Краски светостойкие и имеют высокую степень перетира и пигментную концентрацию. Обладают высокой адгезией ко многим поверхностям и низкой вязкостью. В равной степени подходят для работы аэрографом, кистью, пером, рапидографом. Хранить в недоступном для детей месте.</p>
                        </div>
                    </div>
                    <p>Для разбавления акриловых красок можно использовать специальный разжижитель <strong>SP-THINNER</strong> для акриловых и латексных красок для аэрографа 120мл. Спиртовой разбавитель, в чистом виде разбавляет только латексные краски для аэрографии Sparmax (спармакс). обычный акрил нужно  разбавлять вода + разжижитель 1/1. в чистом виде он сворачивает акриловую краску. Если разбавлять вода+разжижитель+акрил, краски дольше хранятся, разбавляются и высыхают быстрее. Можно также использовать для промывки аэрографа.</p>
                    <ul class="product-list text-left">
                        <li class="product-item"><a href="#"><img src="img/fas_g.svg" alt="fac" class="img-fluid"></a></li>
                        <li class="product-item"><a href="#"><img src="img/vk_g.svg" alt="vk" class="img-fluid"></a></li>
                        <li class="product-item"><a href="#"><img src="img/od_g.svg" alt="od" class="img-fluid"></a></li>
                        <li class="product-item"><a href="#"><img src="img/g_g.svg" alt="g" class="img-fluid"></a></li>
                    </ul>

                </section>
            </div>
        </div>
    </div>
</main>
@@include('template/layout/footer.html')


