@@include('template/layout/header.html')
<main class="content">
    <div class="container">
        <div class="row row-bg">
            <div class="col-lg-3">
                @@include('template/blocks/aside.html')
            </div>
            <div class="col-lg-9">
                <div class="row">
                    @@include('template/blocks/breadcrumb.html')
                </div>
                <section class="gallery">
                    <div class="gallery-header">Аэрография</div>
                    <div class="row gallery-list">
                        <div class="gallery-item col-md-4">
                            <div class="gallery-img text-center">
                                <a href="#">
                                    <img src="img/art_1.png" alt="gallery" class="img-fluid">
                                </a>
                            </div>
                            <div class="gallery-text">Краски для аэрографии</div>
                        </div>
                        <div class="gallery-item col-md-4">
                            <div class="gallery-img text-center">
                                <a href="#">
                                    <img src="img/art_2.png" alt="gallery" class="img-fluid">
                                </a>
                            </div>
                            <div class="gallery-text">Мастер-класс по аэрографии “Мэрелин Монро”</div>
                        </div>
                        <div class="gallery-item col-md-4">
                            <div class="gallery-img text-center">
                                <a href="#">
                                    <img src="img/art_3.png" alt="gallery" class="img-fluid">
                                </a>
                            </div>
                            <div class="gallery-text">Область применения<br> аэрографии</div>
                        </div>
                        <div class="gallery-item col-md-4">
                            <div class="gallery-img text-center">
                                <a href="#">
                                    <img src="img/art_1.png" alt="gallery" class="img-fluid">
                                </a>
                            </div>
                            <div class="gallery-text">Краски для аэрографии</div>
                        </div>
                        <div class="gallery-item col-md-4">
                            <div class="gallery-img text-center">
                                <a href="#">
                                    <img src="img/art_2.png" alt="gallery" class="img-fluid">
                                </a>
                            </div>
                            <div class="gallery-text">Мастер-класс по аэрографии “Мэрелин Монро”</div>
                        </div>
                        <div class="gallery-item col-md-4">
                            <div class="gallery-img text-center">
                                <a href="#">
                                    <img src="img/art_3.png" alt="gallery" class="img-fluid">
                                </a>
                            </div>
                            <div class="gallery-text">Область применения<br> аэрографии</div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</main>

@@include('template/layout/footer.html')

