@@include('template/layout/header.html')
<main class="content">
    <div class="container">
        <div class="row row-bg">
            <div class="col">
                <div class="row">
                    @@include('template/blocks/breadcrumb.html')
                </div>

                <section class="cart">
                    <div class="gallery-header">Оформление заказа</div>
                    <ul class="cart-list">
                        <li class="cart-item past">01. Ваш заказ</li>
                        <li class="cart-item past">02. Личные данные</li>
                        <li class="cart-item past">03. Адрес</li>
                        <li class="cart-item active">04. Доставка</li>
                        <li class="cart-item">05. Оплата</li>
                    </ul>


                    <form action="#" id="checkout_form" method="post" enctype="multipart/form-data" class="cart-form">
                        <div class="checkout-form-wrap">
                            <ul class="box-filter row">
                                <li class="col-md-4">
                                    <input type="radio" name="delivery" value="_64" id="filter01">
                                    <label for="filter01">Курьер</label>
                                </li>
                                <li class="col-md-4">
                                    <input type="radio" name="delivery" value="_64" id="filter02">
                                    <label for="filter02">НП</label>
                                </li>
                                <li class="col-md-4">
                                    <input type="radio" name="delivery" value="_64" id="filter03">
                                    <label for="filter03">Укрпочта</label>
                                </li>
                                <li class="col-md-4">
                                    <input type="radio" name="delivery" value="_64" id="filter04">
                                    <label for="filter04">Ин-Таймм</label>
                                </li>
                                <li class="col-md-4">
                                    <input type="radio" name="delivery" value="_64" id="filter05">
                                    <label for="filter05">Деливерли</label>
                                </li>
                                <li class="col-md-4">
                                    <input type="radio" name="delivery" value="_64" id="filter06">
                                    <label for="filter06">Мист-Экспресс</label>
                                </li>
                            </ul>
                        </div>


                        <hr class="table-line">

                        <div class="checkout">
                            <a href="#" class="checkbut"><i class="fa fa-chevron-left" aria-hidden="true"></i> Продолжить покупки</a>
                            <a href="#" class="redbutton">Оформить заказ <i class="fa fa-chevron-right" aria-hidden="true"></i></a></div>
                    </form>

                </section>


            </div>

        </div>
    </div>
</main>
@@include('template/layout/footer.html')