@@include('template/layout/header.html')
<main class="content">
  <div class="container">
    <div class="row row-bg">
      <div class="col-lg-3">
        @@include('template/blocks/aside.html')
      </div>
      <div class="col-lg-9">
        <div class="row">
        @@include('template/blocks/breadcrumb.html')
        </div>
        <section class="catalog">
          <div class="box-header">Добро пожаловать в каталог наших товаров !!!</div>
          <div class="row gallery-title-list">
            <div class="col-md-4">
              <div class="gallery-title-item">
                <div class="gallery-title-img">
                  <a href="gallery_item.html">
                    <img src="img/cat_1.png" alt="gallery" class="img-fluid">
                  </a>
                </div>
                <div class="gallery-title-text">! Распродажа !</div>
                <ul>
                  <li><a href="#">бельё для декора</a></li>
                  <li><a href="#">видео</a></li>
                  <li><a href="#">декор текстиля</a></li>
                  <li><a href="#">декоративные материалы разные</a></li>
                  <li><a href="#">декупаж</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
                <div class="gallery-title-item">
                  <div class="gallery-title-img">
                    <a href="gallery_item.html">
                      <img src="img/cat_3.png" alt="gallery" class="img-fluid">
                    </a>
                  </div>
                  <div class="gallery-title-text">Scrapbooking</div>
                  <ul>
                    <li><a href="#">бельё для декора</a></li>
                    <li><a href="#">видео</a></li>
                    <li><a href="#">декор текстиля</a></li>
                  </ul>
                </div>
              </div>
            <div class="col-md-4">
              <div class="gallery-title-item">
                <div class="gallery-title-img">
                  <a href="gallery_item.html">
                    <img src="img/cat_2.png" alt="gallery" class="img-fluid">
                  </a>
                </div>
                <div class="gallery-title-text">Scrapbooking</div>
                <ul>
                  <li><a href="#">бельё для декора</a></li>
                  <li><a href="#">видео</a></li>
                  <li><a href="#">декор текстиля</a></li>
                  <li><a href="#">декоративные материалы разные</a></li>
                  <li><a href="#">декупаж</a></li>
                  <li><a href="#">искусственное состаривание</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="gallery-title-item">
                <div class="gallery-title-img">
                  <a href="gallery_item.html">
                    <img src="img/cat_1.png" alt="gallery" class="img-fluid">
                  </a>
                </div>
                <div class="gallery-title-text">Scrapbooking</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="gallery-title-item">
                <div class="gallery-title-img">
                  <a href="gallery_item.html">
                    <img src="img/cat_2.png" alt="gallery" class="img-fluid">
                  </a>
                </div>
                <div class="gallery-title-text">Scrapbooking</div>
                <ul>
                  <li><a href="#">бельё для декора</a></li>
                  <li><a href="#">видео</a></li>
                  <li><a href="#">декор текстиля</a></li>
                  <li><a href="#">декоративные материалы разные</a></li>
                  <li><a href="#">декупаж</a></li>
                  <li><a href="#">искусственное состаривание</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="gallery-title-item">
                <div class="gallery-title-img">
                  <a href="gallery_item.html">
                    <img src="img/cat_2.png" alt="gallery" class="img-fluid">
                  </a>
                </div>
                <div class="gallery-title-text">Scrapbooking</div>
                <ul>
                  <li><a href="#">бельё для декора</a></li>
                  <li><a href="#">видео</a></li>
                  <li><a href="#">декор текстиля</a></li>
                  <li><a href="#">декоративные материалы разные</a></li>
                  <li><a href="#">декупаж</a></li>
                  <li><a href="#">декор текстиля</a></li>
                  <li><a href="#">декоративные материалы разные</a></li>
                  <li><a href="#">декупаж</a></li>
                  <li><a href="#">декор текстиля</a></li>
                  <li><a href="#">декоративные материалы разные</a></li>
                  <li><a href="#">декупаж</a></li>
                  <li><a href="#">искусственное состаривание</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="catalog-text">
                <p class="catalog-text-red">При формировании заказа указывайте пожалуйста:</p>
                <p class="catalog-text-red catalog-text-mar">- артикул,     наименование,   количество   товара</p>
                <p class="catalog-text-red">- информацию о заказчике (ФИО, город, конт.тел.)</p>
                <p class="catalog-text-red">без этих данных заявка не регистрируется.</p>
                <p>Для удобства навигации по каталогу все товары разбиты на группы. В свою очередь группы разбиты на подгруппы. Например, группа <strong>"роспись по тканям"</strong> включает в себя подгруппы <strong>"инструменты", "контуры декоративные" ... "ткань"</strong>. Чтобы выбрать интересующую Вас группу - щелкните левой кнопкой мышки по пункту меню, которое находится слева от этого текста.</p>
                <p>Для просмотра прайс-листа в EXEL в конце списка каждой подгруппы КАТАЛОГА есть кнопочка <strong>"скачать этот прайс лист"</strong>, при клике на которую сбросится в EXСEL перечень товара данной подгруппы с ценами. Туда же сбросятся описания по этим товарам.</p>
                <p>Полный розничный прайс-лист на сайте не выкладывается .</p>
                <p>Заказав товар по электронной почте, Вы гарантировано получите ответ и консультации наших специалистов.</p>
                <p>С условиями доставки и получения скидок можно ознакомиться на странице "О НАС".</p>
                <p>Торгующим и производственным предприятиям  предоставляется специальная скидка - подробности можно узнать по электронной почте.</p>
                <p>Для возврата к началу каталога - выберите пункт меню "КАТАЛОГ"</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
@@include('template/layout/footer.html')