@@include('template/layout/header.html')
<main class="content partners partners_dnepr">
    <div class="container">
        <div class="row row-bg">
            <div class="col-lg-3">
                @@include('template/blocks/aside.html')
            </div>
            <div class="col-lg-9">
                <div class="row">
                    @@include('template/blocks/breadcrumb.html')
                </div>
                <section class="gallery-title gallery-top delivery">
                    <div class="gallery-header">Как купить</div>
                    <section class="shop">
                        <div class="row">
                            <div class="col">
                                <div class="shop-title-address">Информация для оптовых покупателей</div>
                            </div>
                        </div>
                        <div class="row align-items-center delivery-row">
                            <div class="col-md-6"><div class="shop-map"><a href="#"><img src="img/d_6.png" alt="shop" class="img-fluid"></a></div></div>
                            <div class="col-md-6">
                                <p class="delivery-opt">Офис, (головной офис), тел.: <a href="tel:+380503480138">(050) 348-01-38</a><br>
                                    (работа с оптовыми покупателями)</p>
                                <p class="delivery-opt"><strong>В оптовом предложении у нас около 10 000 наименований, которые предлагаются Вам со скидкой от 20% до 50% (на каждую группу товара своя скидка) от нашей розничной цены.</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="partners-titles">Существует 4 контракта скидок:</div>
                                <ol class="partners-list">
                                    <li><strong>Контракт 20%</strong> - для производства и не торгующих обучающих организаций, с суммой разовой закупки не менее 2500 грн.</li>
                                    <li><strong>Контракт ОПТ ОСНОВНОЙ</strong> – только для торгующих организаций c первоначальной закупкой от 3000грн. и суммой ежемесячной закупки не менее 1000 грн. (если будете делать заказы больше одного раза в месяц – для подтверждения скидки сумма должна быть не менее 1000 грн. за каждый заказ).</li>
                                    <li><strong>Контракт ОПТ</strong> - только для торгующих организаций со среднегодовой закупкой в месяц не менее 10 000 грн. в месяц.</li>
                                    <li><strong>Контракт ПАРТНЁР</strong> - только для торгующих организаций со среднегодовой закупкой в месяц не менее 20 000 грн. (эта сумма может варьироваться от величины населённого пункта и других дополнительных условий).</li>
                                </ol>
                                <p>На контракты 2-3 может распространяться ещё и <strong>отсрочка 14-30 календарных дней,</strong> по дополнительному согласованию, но не раньше 4-ой отгрузки. Первые отгрузки производятся исключительно по предоплате.</p>
                                <p>Контракт по первой закупке обсуждается индивидуально и зависит от объема закупки, стажа работы магазина и размера населенного пункта. Если в силу специфики своей работы Вы закупаете только узкий ассортимент товара и не всегда можете набрать нужные суммы (например, Вы - магазин бижутерии и закупаете только Цернит и не можете выйти на 10 000 грн. в месяц) - вопрос об увеличении часто можно решить через доп. согласование. Минимальный первый заказ 1000 грн.</p>
                                <p class="partners-conditions"><strong>ПОЛНЫЕ УСЛОВИЯ СОТРУДНИЧЕСТВА <span>можно скачать</span> <a href="#">здесь.</a></strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="shop-title-address">Информация для розничных клиентов</div>
                            </div>
                        </div>
                        <div class="row align-items-center delivery-row">
                            <div class="col-md-6"><div class="shop-map"><a href="#"><img src="img/d_7.png" alt="shop" class="img-fluid"></a></div></div>
                            <div class="col-md-6">
                                <p class="delivery-opt"><strong>В сети наших розничных магазинов:</strong></p>
                                <p class="delivery-opt">г. Киев(ЦЕНТР), ул.Красноармейская, 72а, ТЦ "Олимпийский",</p>
                                <p class="delivery-opt">М "ОЛИМПИЙСКАЯ", 3-й этаж; т: <a href="tel:+3800445932605">(044) 593-26-05</a></p>
                                <p class="delivery-opt">г. Киев(левый берег), ул. Беломорская,1.</p>
                                <p class="delivery-opt">ТЦ "Дарынок"М"ЛЕСНАЯ", Бутик ПК-15,напротив ФУРШЕТА, тел. <a href="tel:+380958026174">(095)-802-61-74</a></p>
                                <p class="delivery-opt">ТЦ "Art Mall" 2-й этаж, тел: <a href="tel:+380503480138">(050) 348-01-38</a></p>
                                <p class="delivery-opt">г. Одесса, ул. Дерибасовская-33 (ул.Преображенская-34), тел.: <a href="tel:+380487261712">(048) 726-17-12</a></p>
                            </div>
                        </div>
                        <div class="row delivery-list">
                            <div class="col">
                                <p>По вопросам сотрудничества и оформления заказов обращайтесь по электронной почте <a href="malto:shop@paint.dn.ua">shop@paint.dn.ua</a></p>

                                <p>МИНИМАЛЬНАЯ СУММА ЗАКАЗА - 500 грн. При заказе по e-mail предоставляются следующие услуги:<br>
                                    - от 500 до 1250 грн. - доставка фирмой "Деливери" по Украине БЕСПЛАТНО! + <strong>Скидка 10%</strong><br>
                                    - от 1250 грн. - доставка фирмой "Деливери" по Украине БЕСПЛАТНО! + <strong>Скидка 20%</strong></p>

                                <p>Заказы в устной форме не обрабатываются и претензии по ним не принимаются. Консультации можно получить <strong>только</strong> по электронной почте <a href="malto:shop@paint.dn.ua">shop@paint.dn.ua</a></p>

                                <p><strong>Убедительная просьба в заказе указывать ФИО, контактный телефон заказчика и информацию о товаре (артикул, наименование, кол-во)</strong>. При отправке письма с заказом, просьбой, вопросом и т.п. в теме письма обязательно пишите следующее: <strong>Лавка Художника</strong>. Письма без данной пометки могут быть пропущены в спаме.</p>

                                <p>Отгрузка заказов осуществляется транспортной фирмой <strong>"Деливери"</strong>.  В случае отгрузки другой транспортной фирмой заказ  отправляется  за счет получателя, и наша фирма за  сохранность и целостность такого груза ответственности  не несет!</p>

                                <p>Обращаем Ваше внимание, что согласно с Законом Украины №172 -«Перелік товарів належної якості, які не підлягають <strong>обміну (поверненню)», зазначеним постановою Кабінету міністрів України від 19.03.94 - некондиційні товари обміну та поверненню не підлягають!!! А саме: лаки, фарби, олівці, книги, лістові папери і т.д., тобто ті товари, кондиційність яких не можливо встановити</strong>.</p>

                                <p><span>ВНИМАНИЕ!</span><br>
                                    - На аэрографы, компрессоры, книги <strong>скидка не распостраняется</strong>.<br>
                                - Для получения скидок всё общение с менеджером предполагается по электронной почте, телефон может использоваться только как экстренное средство связи.
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>
</main>
@@include('template/layout/footer.html')