@@include('template/layout/header.html')
<main class="content">
  <div class="container">
    <div class="row row-bg">
      <div class="col-lg-3">
        @@include('template/blocks/aside.html')
      </div>
      <div class="col-lg-9">
        <div class="row">
        @@include('template/blocks/breadcrumb.html')
        </div>
        <section class="gallery-title">
          <div class="gallery-header">Галерея работ художников</div>
          <div class="row gallery-title-list">
            <div class="col-md-4">
              <div class="gallery-title-item">
                <div class="gallery-title-img">
                  <a href="gallery_item.html">
                    <img src="img/gal_4.png" alt="gallery" class="img-fluid">
                  </a>
                </div>
                <div class="gallery-title-text">Авторская КУКЛА</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="gallery-title-item">
                <div class="gallery-title-img">
                  <a href="gallery_item.html">
                    <img src="img/gal_5.png" alt="gallery" class="img-fluid">
                  </a>
                </div>
                <div class="gallery-title-text">Акрил и Масло</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="gallery-title-item">
                <div class="gallery-title-img">
                  <a href="gallery_item.html">
                    <img src="img/gal_6.png" alt="gallery" class="img-fluid">
                  </a>
                </div>
                <div class="gallery-title-text">Батик</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="gallery-title-item">
                <div class="gallery-title-img">
                  <a href="#">
                    <img src="img/gal_6.png" alt="gallery" class="img-fluid">
                  </a>
                </div>
                <div class="gallery-title-text">Батик</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="gallery-title-item">
                <div class="gallery-title-img">
                  <a href="#">
                    <img src="img/gal_4.png" alt="gallery" class="img-fluid">
                  </a>
                </div>
                <div class="gallery-title-text">Авторская КУКЛА</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="gallery-title-item">
                <div class="gallery-title-img">
                  <a href="#">
                    <img src="img/gal_5.png" alt="gallery" class="img-fluid">
                  </a>
                </div>
                <div class="gallery-title-text">Акрил и Масло</div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
@@include('template/layout/footer.html')