@@include('template/layout/header.html')
<main class="content partners partners_dnepr">
    <div class="container">
        <div class="row row-bg">
            <div class="col-lg-3">
                @@include('template/blocks/aside.html')
            </div>
            <div class="col-lg-9">
                <div class="row">
                    @@include('template/blocks/breadcrumb.html')
                </div>
                <section class="gallery-title gallery-top">
                    <div class="gallery-header">Партнеры г. Днепропетровск</div>
                    <section class="shop">
                        <div class="row">
                            <div class="col">
                                <address class="shop-title-address">Магазин «Акварель». Товары для творчества и хобби, мастер-классы!!!</address>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6"><div class="shop-map"><a href="#"><img src="img/d_1.png" alt="shop" class="img-fluid"></a></div></div>
                            <div class="col-md-6">
                                <address class="shop-address">
                                    <p>Адреса наших магазинов:<br>
                                        г.Днепропетровск, пр. Героев, 11-А<br>
                                        ТЦ «Гермес», 1 этаж
                                    </p>
                                    <p>Тел. <a href="tel:+3800567943795"></a>794-37-95</p>
                                    <p>График работы:<br> с 9 до 21 без перерывов, без выходных.</p>
                                </address>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6"><div class="shop-map"><a href="#"><img src="img/d_2.png" alt="shop" class="img-fluid"></a></div></div>
                            <div class="col-md-6">
                                <address class="shop-address">
                                    <p>Специализированный магазин для творческих и увлекающихся людей "Акварель-хобби",<br><br>
                                    г.Днепропетровск,пр.К.Маркса,90А.</p>
                                    <p>Тел. <a href="tel:+3800563704871"></a>370-48-71</p>
                                    <p>График работы:с 10:00 до 20:00, без перерывов и выходных.</p>
                                    <p><a href="malto:http://akvarel-hobbi.com/">http://akvarel-hobbi.com/</a></p>
                                </address>
                            </div>
                        </div>
                        <div class="row row-text">
                            <div class="col">
                                <p>В магазине представлен широкий ассортимент канцелярских товаров, сувенирной продукции, художественных материалов и товаров для творчества, хобби. У нас регулярно проводятся мастер-классы, на которых Вы овладеете техниками декорирования предметов интерьера, научитесь создавать собственные оригинальные изделия, воплотите в жизнь свои идеи по превращению самых обыкновенных вещей в неповторимые шедевры, получите детальную информацию и навыки работы с материалами, которые Вы сможете приобрести в нашем магазине. Для участия в мастер-классе специальной художественной подготовки не требуется.</p>
                                <p>Рады видеть Вас в наших магазинах!</p>
                            </div>
                        </div>
                        <div class="row row-bot">
                            <div class="col text-center">
                                <img src="img/d_3.png" alt="photo" class="img-fluid">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <address class="shop-title-address">Клуб "Творцы Прекрасного" - материалы для творчества, хобби и рукоделия.</address>
                            </div>
                        </div>
                        <div class="row align-items-center row-bot">
                            <div class="col-md-6"><div class="shop-map"><a href="#"><img src="img/d_4.png" alt="shop" class="img-fluid"></a></div></div>
                            <div class="col-md-6">
                                <address class="shop-address">
                                    <p>Адрес Клуба :</p>
                                    <p>г. Днепропетровск ул. Короленко, 6.<br>
                                        Тел. <a href="tel:+380676332230"></a>0(67)633-22-30</p>
                                    <p>График работы:</p>
                                    <p>с 10.00 до 19.00 ежедневно</p>
                                    <p><a href="malto:http://tvorec.com.ua">http://tvorec.com.ua</a></p>
                                </address>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <address class="shop-title-address">Магазин "Пластилиновая Ворона"</address>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6"><div class="shop-map"><a href="#"><img src="img/d_5.png" alt="shop" class="img-fluid"></a></div></div>
                            <div class="col-md-6">
                                <address class="shop-address">
                                    <p>Адрес Клуба :</p>
                                    <p>г. Днепропетровск ул. АРТЕМА,4а<br>
                                        Тел. <a href="tel:+380972341262"></a>0(97)234-12-62</p>
                                    <p>График работы:</p>
                                    <p>с 10.00 до 19.00 ежедневно</p>
                                    <p><a href="http://plastilin.dp.ua">http://plastilin.dp.ua</a></p>
                                </address>
                            </div>
                        </div>
                    </section>

                    <div class="row gallery-title-list">
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Алчевск</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Артемовск</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Винница</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Горловка</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Днепропетровск</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Доброполье</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Евпатория</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Енакиево</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Запорожье</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Ивано-Франковск</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Измаил</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Каменец-Подольский</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Киев</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Кировоград</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Кременчуг</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Кривой Рог</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Львов</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Макеевка</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Мариуполь</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Мелитополь</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Николаев</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Обухов</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">г. Белая Церковь</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">г. Краматорск</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">г. Чернигов</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Севастополь</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Симферополь</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Сумы</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Тернополь</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Феодосия</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Херсон</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Хмельницкий</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Червоноград</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Черкассы</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Черновцы</a></div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
@@include('template/layout/footer.html')
