@@include('template/layout/header.html')
<main class="content partners">
    <div class="container">
        <div class="row row-bg">
            <div class="col-lg-3">
                @@include('template/blocks/aside.html')
            </div>
            <div class="col-lg-9">
                <div class="row">
                    @@include('template/blocks/breadcrumb.html')
                </div>
                <section class="gallery-title gallery-top">
                    <div class="gallery-header">Парнеры</div>
                    <div class="row">
                        <div class="col">
                            <p><strong>В оптовом предложении у нас около 10 000 наименований, которые предлагаются Вам со скидкой от 20% до 50% (на каждую группу товара своя скидка) от нашей розничной цены.</strong></p>
                            <div class="partners-titles">Существует 4 контракта скидок:</div>
                            <ol class="partners-list">
                                <li><strong>Контракт 20%</strong> - для производства и не торгующих обучающих организаций, с суммой разовой закупки не менее 2500 грн.</li>
                                <li><strong>Контракт ОПТ ОСНОВНОЙ</strong> – только для торгующих организаций c первоначальной закупкой от 3000грн. и суммой ежемесячной закупки не менее 1000 грн. (если будете делать заказы больше одного раза в месяц – для подтверждения скидки сумма должна быть не менее 1000 грн. за каждый заказ).</li>
                                <li><strong>Контракт ОПТ</strong> - только для торгующих организаций со среднегодовой закупкой в месяц не менее 10 000 грн. в месяц.</li>
                                <li><strong>Контракт ПАРТНЁР</strong> - только для торгующих организаций со среднегодовой закупкой в месяц не менее 20 000 грн. (эта сумма может варьироваться от величины населённого пункта и других дополнительных условий).</li>
                            </ol>
                            <p>На контракты 2-3 может распространяться ещё и <strong>отсрочка 14-30 календарных дней,</strong> по дополнительному согласованию, но не раньше 4-ой отгрузки. Первые отгрузки производятся исключительно по предоплате.</p>
                            <p>Контракт по первой закупке обсуждается индивидуально и зависит от объема закупки, стажа работы магазина и размера населенного пункта. Если в силу специфики своей работы Вы закупаете только узкий ассортимент товара и не всегда можете набрать нужные суммы (например, Вы - магазин бижутерии и закупаете только Цернит и не можете выйти на 10 000 грн. в месяц) - вопрос об увеличении часто можно решить через доп. согласование. Минимальный первый заказ 1000 грн.</p>
                            <p class="partners-conditions"><strong>ПОЛНЫЕ УСЛОВИЯ СОТРУДНИЧЕСТВА <span>можно скачать</span> <a href="#">здесь.</a></strong></p>
                        </div>
                    </div>
                    <div class="row gallery-title-list">
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Алчевск</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Артемовск</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Винница</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Горловка</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Днепропетровск</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Доброполье</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Евпатория</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Енакиево</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Запорожье</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Ивано-Франковск</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Измаил</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Каменец-Подольский</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Киев</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Кировоград</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Кременчуг</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Кривой Рог</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Львов</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Макеевка</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Мариуполь</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Мелитополь</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Николаев</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Обухов</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">г. Белая Церковь</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">г. Краматорск</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">г. Чернигов</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Севастополь</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Симферополь</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Сумы</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Тернополь</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Феодосия</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Херсон</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Хмельницкий</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Червоноград</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Черкассы</a></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-title-item">
                                <div class="gallery-title-text"><a href="#">Черновцы</a></div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
@@include('template/layout/footer.html')
