@@include('template/layout/header.html')
<main class="content">
  <div class="container">
    <div class="row row-bg">
      <div class="col-lg-3">
        @@include('template/blocks/aside.html')
      </div>
      <div class="col-lg-9">
        <div class="row">
        @@include('template/blocks/breadcrumb.html')
        </div>

        <section class="product">
          <div class="row">
            <div class="col">
            <h1 class="product-title">Альбом д/скрапбукинга "Стрекозы" (5страниц+кольца) 20х20см </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="product-slider">
                <div><img src="img/prod_1.png" alt="" class="img-fluid"></div>
                <div><img src="img/prod_1.png" alt="" class="img-fluid"></div>
                <div><img src="img/prod_1.png" alt="" class="img-fluid"></div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="options-wrapper">
                <div class="item-status-1 item-status-pos"><i class="fa fa-check-square-o" aria-hidden="true"></i> В наличии</div>
                <div class="product-rating">
                  <span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-star-active fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-star-active fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-star-active fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-star-active fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                  </span>
                </div>
              </div>
              <div class="row align-items-end">
                <div class="col-md-6">
                  <div class="product-attribute">
                    <ul class="list-unstyled  ">
                      <li>Артикул: <span>АМВУ-4692</span></li>
                      <li>Изготовитель: <span>Украина</span></li>
                      <li>Единицы: <span>шт</span></li>
                    </ul>
                    <form action="#">
                      <div class="option-button-title">Количество</div>
                      <div class="option-button-qty">
                        <span class="quan-minus"><span>-</span></span>
                        <input type="text" size="2" name="" id="" data-quan-minimum="1" value="1">
                        <span class="quan-plus"><span>+</span></span>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="product-price">
                    <span class="price-old">86,20 <span>грн</span></span>
                    <span class="current-price">74 <span>грн</span></span>
                  </div>
                  <input type="button" value="Купить" class="product-buy">
                  <ul class="product-list">
                    <li class="product-item"><a href="#"><img src="img/fas.svg" alt="fac" class="img-fluid"></a></li>
                    <li class="product-item"><a href="#"><img src="img/vk.svg" alt="vk" class="img-fluid"></a></li>
                    <li class="product-item"><a href="#"><img src="img/od.svg" alt="od" class="img-fluid"></a></li>
                    <li class="product-item"><a href="#"><img src="img/g.svg" alt="g" class="img-fluid"></a></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="title-tab" data-toggle="tab" href="#title" role="tab" aria-controls="title" aria-selected="true">Описание</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="feature-tab" data-toggle="tab" href="#feature" role="tab" aria-controls="feature" aria-selected="false">Характеристики</a>
                    </li>
                  </ul>

                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="title" role="tabpanel" aria-labelledby="home-tab">Альбом на пружине. Разработан для графических материалов. Очень удобен в работе. Изготовлен из высококачественной бескислотной бумаги. Поверхность бумаги выдерживает более 10 слоев карандаша без повреждения. На тыльной стороне альбома расположен кармашек для хранения эскизов. В развернутом виде кармашек используется как подставка для карандашей. Альбом подходит для всех графических техник рисунка, акварели, ручки, туши.</div>
                    <div class="tab-pane fade" id="feature" role="tabpanel" aria-labelledby="profile-tab">В развернутом виде кармашек используется как подставка для карандашей. Альбом подходит для всех графических техник рисунка, акварели, ручки, туши.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="chooseoption">
          <div class="row">
            <div class="col">
              <div class="chooseoption-title">Выберите вариант:</div>
              <form action="">
                <div class="form-wrapper">
                <div class="chooseoption-desc">Акварель Белые Ночи жидкая 10 мл в тюбиках 100 Белила цинковые</div>
                <div class="chooseoption-art">Артикул: <span>АМВУ-4692</span></div>
                <div class="item-status-1 item-status-pos"><i class="fa fa-check-square-o" aria-hidden="true"></i> В наличии</div>
                <div class="option-button-qty">
                  <span class="quan-minus"><span>-</span></span>
                  <input type="text" size="2" name="" id="" data-quan-minimum="1" value="1" class="chooseoption-input">
                  <span class="quan-plus"><span>+</span></span>
                </div>
                <div class="product-price">
                  <span class="current-price">74 <span>грн</span></span>
                </div>
                  <input type="button" value="Купить" class="product-buy">
                </div>
              </form>
              <form action="">
                <div class="form-wrapper">
                  <div class="chooseoption-desc">Акварель Белые Ночи жидкая 10 мл в тюбиках 100 Белила цинковые</div>
                  <div class="chooseoption-art">Артикул: <span>АМВУ-4692</span></div>
                  <div class="item-status-1 item-status-pos"><i class="fa fa-check-square-o" aria-hidden="true"></i> В наличии</div>
                  <div class="option-button-qty">
                    <span class="quan-minus"><span>-</span></span>
                    <input type="text" size="2" name="" id="" data-quan-minimum="1" value="1" class="chooseoption-input">
                    <span class="quan-plus"><span>+</span></span>
                  </div>
                  <div class="product-price">
                    <span class="current-price">74 <span>грн</span></span>
                  </div>
                  <input type="button" value="Купить" class="product-buy">
                </div>
              </form>
              <form action="">
                <div class="form-wrapper">
                  <div class="chooseoption-desc">Акварель Белые Ночи жидкая 10 мл в тюбиках 100 Белила цинковые</div>
                  <div class="chooseoption-art">Артикул: <span>АМВУ-4692</span></div>
                  <div class="item-status-1 item-status-pos"><i class="fa fa-check-square-o" aria-hidden="true"></i> В наличии</div>
                  <div class="option-button-qty">
                    <span class="quan-minus"><span>-</span></span>
                    <input type="text" size="2" name="" id="" data-quan-minimum="1" value="1" class="chooseoption-input">
                    <span class="quan-plus"><span>+</span></span>
                  </div>
                  <div class="product-price">
                    <span class="current-price">74 <span>грн</span></span>
                  </div>
                  <input type="button" value="Купить" class="product-buy">
                </div>
              </form>
            </div>
          </div>
        </section>
        <section class="reviews">
          <div class="row">
            <div class="col">
              <h2 class="reviews-title">Отзывы</h2>
            </div>
          </div>
          <div class="reviews-wrapper">
            <div class="reviews-not">Пока нет отзывов</div>
            <div class="reviews-item">
              <div class="reviews-data">22.05.2018</div>
              <div class="reviews-author"><span>Наталья,</span><span> Киев</span></div>
              <div class="product-rating">
                  <span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-star-active fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-star-active fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-star-active fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-star-active fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                  </span>
              </div>
              <div class="reviews-descr">Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
                Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я.</div>
            </div>
            <div class="reviews-item">
              <div class="reviews-data">22.05.2018</div>
              <div class="reviews-author"><span>Наталья,</span><span> Киев</span></div>
              <div class="product-rating">
                  <span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-star-active fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-star-active fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-star-active fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-star-active fa-stack-1x"></i></span>
                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                  </span>
              </div>
              <div class="reviews-descr">Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
                Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я.</div>
            </div>
            <a href="#" class="reviews-link">Добавить отзыв</a>
          </div>
        </section>
        <section class="box">
          <div class="box-header text-center">С Этим Товаром Покупают</div>
          <div class="box-list row">
            <div class="box-slider">
              <div class="box-item col-md-4">
                <div class="item">
                  <div class="item-wrapper">
                    <div class="item-title">Набор пастели для ткани Pentel FabricFun Pastels 15цв </div>
                    <div class="item-img">
                      <a href="product.html" class="item-link">
                        <img src="img/pic_3.png" alt="product" class="img-fluid">
                      </a>
                      <div class="item-label"><img src="img/icon_1.png" class="img-fluid"></div>
                    </div>
                    <div class="item-attr">
                      <div class="item-model"> Артикул: <span class="item-modelvalue">ПР-PTS-15</span></div>
                      <div class="item-brand">Изготовитель: <span>«Пентел», Япония</span></div>
                      <div class="item-units">Единицы: <span> набор</span></div>
                    </div>
                    <div class="item-options">
                      <div class="item-status-1"><i class="fa fa-check-square-o" aria-hidden="true"></i> В наличии</div>
                    </div>
                  </div>
                  <div class="item-buy">
                    <div class="item-price">77,50 грн</div>
                    <div class="item-cart">
                      <a title="Купить"  class="item-cart-link" href="#">Купить</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-item col-md-4">
                <div class="item">
                  <div class="item-wrapper">
                    <div class="item-title">Краска по светл.тканям нерастекающаяся "Flash" Javana 20мл СВЕТЛО-ГОЛУБОЙ ФЛЮОР</div>
                    <div class="item-img"><a href="#" class="item-link"><img src="img/pic_1.png" alt="product" class="img-fluid"></a></div>
                    <div class="item-attr">
                      <div class="item-model"> Артикул: <span class="item-modelvalue">ПР-PTS-15</span></div>
                      <div class="item-brand">Изготовитель: <span>«Пентел», Япония</span></div>
                      <div class="item-units">Единицы: <span> набор</span></div>
                    </div>
                    <div class="item-options">
                      <div class="item-price-old">80,05грн</div>
                      <div class="item-status-2"> Нет в наличии</div>
                    </div>
                  </div>
                  <div class="item-buy">
                    <div class="item-price">77,50 грн</div>
                    <div class="item-cart">
                      <a title="Купить"  class="item-cart-link" href="#">Купить</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-item col-md-4">
                <div class="item">
                  <div class="item-wrapper">
                    <div class="item-title">RR Краска по светл.тканям нерастек. "Sunny" Javana 20мл (расфасована ЛХ)</div>
                    <div class="item-img"><a href="#" class="item-link"><img src="img/pic_1.png" alt="product" class="img-fluid"></a></div>
                    <div class="item-attr">
                      <div class="item-model"> Артикул: <span class="item-modelvalue">ПР-PTS-15</span></div>
                      <div class="item-brand">Изготовитель: <span>«Пентел», Япония</span></div>
                      <div class="item-units">Единицы: <span> набор</span></div>
                    </div>
                    <div class="item-options">
                      <div class="item-status-1"><i class="fa fa-check-square-o" aria-hidden="true"></i> В наличии</div>
                    </div>
                  </div>
                  <div class="item-buy">
                    <div class="item-price">77,50 грн</div>
                    <div class="item-cart">
                      <a title="Купить"  class="item-cart-link" href="#">Купить</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-item col-md-4">
                <div class="item">
                  <div class="item-wrapper">
                    <div class="item-title">RR Краска по светл.тканям нерастек. "Sunny" Javana 20мл (расфасована ЛХ)</div>
                    <div class="item-img"><a href="#" class="item-link"><img src="img/pic_1.png" alt="product" class="img-fluid"></a></div>
                    <div class="item-attr">
                      <div class="item-model"> Артикул: <span class="item-modelvalue">ПР-PTS-15</span></div>
                      <div class="item-brand">Изготовитель: <span>«Пентел», Япония</span></div>
                      <div class="item-units">Единицы: <span> набор</span></div>
                    </div>
                    <div class="item-options">
                      <div class="item-status-1"><i class="fa fa-check-square-o" aria-hidden="true"></i> В наличии</div>
                    </div>
                  </div>
                  <div class="item-buy">
                    <div class="item-price">77,50 грн</div>
                    <div class="item-cart">
                      <a title="Купить"  class="item-cart-link" href="#">Купить</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-item col-md-4">
                <div class="item">
                  <div class="item-wrapper">
                    <div class="item-title">RR Краска по светл.тканям нерастек. "Sunny" Javana 20мл (расфасована ЛХ)</div>
                    <div class="item-img"><a href="#" class="item-link"><img src="img/pic_1.png" alt="product" class="img-fluid"></a></div>
                    <div class="item-attr">
                      <div class="item-model"> Артикул: <span class="item-modelvalue">ПР-PTS-15</span></div>
                      <div class="item-brand">Изготовитель: <span>«Пентел», Япония</span></div>
                      <div class="item-units">Единицы: <span> набор</span></div>
                    </div>
                    <div class="item-options">
                      <div class="item-status-1"><i class="fa fa-check-square-o" aria-hidden="true"></i> В наличии</div>
                    </div>
                  </div>
                  <div class="item-buy">
                    <div class="item-price">77,50 грн</div>
                    <div class="item-cart">
                      <a title="Купить"  class="item-cart-link" href="#">Купить</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
@@include('template/layout/footer.html')