</div><!-- FOOTER FIX [END] -->
<footer class="footer">
    <div class="footer-nav">
        <div class="container">
            <div class="row">
                <ul class="down-list">
                    <li class="down-item"><a href="partners.html" class="down-link">Партнеры</a></li>
                    <li class="down-item"><a href="about.html" class="down-link">О нас</a></li>
                    <li class="down-item"><a href="delivery.html" class="down-link">Доставка</a></li>
                    <li class="down-item"><a href="gallery.html" class="down-link">Галерея</a></li>
                    <li class="down-item"><a href="articles.html" class="down-link">Статьи</a></li>
                    <li class="down-item"><a href="contacts.html" class="down-link">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="footer-title"><i class="fa fa-map-marker" aria-hidden="true"></i> Как нас найти:</div>

        <ul class="footer-list">
            <li class="footer-item">
                <address><strong>г. Киев (ЦЕНТР),</strong><br>
                    ул.Красноармейская, 72а<br>
                    метро ОЛИМПИЙСКАЯ",<br>
                    ТЦ "Олимпийский", 3-й этаж;<br>
                    <a href="tel:+380445932605">(044) 593-26-05</a>
                </address>
            </li>
            <li class="footer-item">
                <address><strong>г. Киев (левый берег),</strong><br>
                    ул. Беломорская,1.<br>
                    ТЦ "Дарынок", метро "ЛЕСНАЯ",<br>
                    Бутик ПК-15, напротив ФУРШЕТА<br>
                    <a href="tel:+380958026174">(095) 802-61-74</a>
                </address>
            </li>
            <li class="footer-item">
                <address><strong>г. Киев (Опт,мелкий опт),</strong><br>
                    ул. Заболотного, 37<br>
                    ТЦ "Art Mall", 2-й этаж<br>
                    <a href="tel:+380503480138">(050) 348-01-38</a>

                </address>
            </li>
            <li class="footer-item">
                <address><strong>Центральный офис</strong><br>
                    <a href="tel:+380503480138">(050) 348-01-38</a><br>
                    (работа с оптовыми<br>
                    покупателями)
                </address>
            </li>
            <li class="footer-item">
                <address><strong>г. Одесса,</strong><br>
                    ул. Дерибасовская-33<br>
                    (ул.Преображенская-34)<br>
                    <a href="tel:+380487261712">(048) 726-17-12</a>
                </address>
            </li>
        </ul>
        <ul class="footer-list">
            <li class="footer-item">Время работы:<br>
                Пн-Сб: с 9:00 до 18:00,<br>
                Вс - выходной
            </li>
            <li class="footer-item text-center">Присоединяйтесь к нам::<br>
                <a href="#" class="footer-item-link"><img src="img/logo_vk.png" alt="vk" class="img-fluid"></a>
                <a href="#" class="footer-item-link"><img src="img/logo_f.png" alt="facebook"></a>
            </li>
            <li class="footer-item">
                &copy;Лавка Художника, 2019 Все права защищены. Использование любых материалов,<br>
                находящихся на сайте, разрешается при условии размещения гиперссылки.
            </li>
        </ul>

    </div>

</footer>

<div class="modal fade" id="enterModal" tabindex="-1" role="dialog" aria-labelledby="enterModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><img src="img/close.png" alt="close"></span>
            </button>
            <div class="modal-body">
                <h5 class="modal-title text-center">Авторизация</h5>
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label" for="input-email">E-mail</label>
                        <input type="text" name="email" value="" placeholder="" id="input-email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="input-password">Пароль</label>
                        <input type="password" name="password" value="" placeholder="" id="input-password"
                               class="form-control">
                    </div>
                    <input type="submit" value="Войти" class="btn_login">
                    <a href="#" class="btn_checkin" data-toggle="modal" data-target="#checkinModal">Регистрация</a>
                    <a href="#" class="forgotten_pass">Забыли пароль?</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="checkinModal" tabindex="-1" role="dialog" aria-labelledby="checkinModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><img src="img/close.png" alt="close"></span>
            </button>
            <div class="modal-body">
                <h5 class="modal-title text-center">Регистрация</h5>
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group required">
                        <label class="control-label" for="input-firstname">Ваше имя</label>
                        <input type="text" name="firstname" value="" id="input-firstname" class="form-control">
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="input-email">Ваш E-mail</label>
                        <input type="email" name="email" value="" id="input-mail" class="form-control">
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="input-password">Пароль</label>
                        <input type="password" name="password" value="" id="input-pass" class="form-control"
                               aria-autocomplete="list">
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="input-confirm">Повторить пароль</label>
                        <input type="password" name="confirm" value="" id="input-confirm" class="form-control">
                    </div>
                    <input type="submit" value="Зарегистрироваться" class="">
                    <a href="#" class="btn_checkin">Авторизация</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="cart-successful">
                    <div class="cart-successful-title"><i class="fa fa-check-square-o" aria-hidden="true"></i> Товар добавлен в корзину</div>
                    <div class="cart-successful-info">
                        <div class="cart-successful-img">
                            <a href="#"><img src="img/c_1.png" alt="photo" class="img-fluid" class="img-fluid"></a>
                        </div>
                        <div class="cart-successful-wrap">
                            <div class="cart-successful-name">
                                <a href="#">Альбом д/скрапбукинга "Стрекозы" (5страниц+кольца) 20х20см </a>
                            </div>
                            <ul class="list-unstyled">
                                <li>Артикул: <span>АМВУ-4692</span></li>
                                <li>Изготовитель: <span>Украина</span></li>
                            </ul>
                            <form action="#">
                                <div class="option-button-qty">
                                    <span class="quan-minus"><span>-</span></span>
                                    <input type="text" size="2" name="" id="" data-quan-minimum="1" value="1">
                                    <span class="quan-plus"><span>+</span></span>
                                </div>
                            </form>
                            <div class="product-price">
                                <span class="current-price">74 <span>грн</span></span>
                            </div>
                        </div>

                        <div class="cart-successful-remove">
                            <img src="img/remove.png" alt="Удалить" title="Удалить" onclick="">
                        </div>

                    </div>
                    <div class="cart-successful-info">
                        <div class="cart-successful-img">
                            <a href="#"><img src="img/c_1.png" alt="photo" class="img-fluid"></a>
                        </div>
                        <div class="cart-successful-wrap">
                            <div class="cart-successful-name">
                                <a href="#">Альбом д/скрапбукинга "Стрекозы" (5страниц+кольца) 20х20см </a>
                            </div>
                            <ul class="list-unstyled">
                                <li>Артикул: <span>АМВУ-4692</span></li>
                                <li>Изготовитель: <span>Украина</span></li>
                            </ul>
                            <form action="#">
                                <div class="option-button-qty">
                                    <span class="quan-minus"><span>-</span></span>
                                    <input type="text" size="2" name="" id="" data-quan-minimum="1" value="1">
                                    <span class="quan-plus"><span>+</span></span>
                                </div>
                            </form>
                            <div class="product-price">
                                <span class="current-price">74 <span>грн</span></span>
                            </div>
                        </div>

                        <div class="cart-successful-remove">
                            <img src="img/remove.png" alt="Удалить" title="Удалить" onclick="">
                        </div>

                    </div>

                    <div class="checkout">
                        <a href="#" class="checkbut"><i class="fa fa-chevron-left" aria-hidden="true"></i> Продолжить покупки</a>
                        <a href="#" class="redbutton">Оформить заказ <i class="fa fa-chevron-right" aria-hidden="true"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script scr="js/jquery.magnific-popup.min.css"></script>
<script src="js/script.js"></script>

</body>
</html>