</div><!-- FOOTER FIX [END] -->
<footer class="footer">
    <div class="footer-nav">
        <div class="container">
            <div class="row">
                <ul class="down-list">
                    <li class="down-item"><a href="#" class="down-link">Партнеры</a></li>
                    <li class="down-item"><a href="#" class="down-link">О нас</a></li>
                    <li class="down-item"><a href="#" class="down-link">Доставка</a></li>
                    <li class="down-item"><a href="#" class="down-link">Галерея</a></li>
                    <li class="down-item"><a href="#" class="down-link">Статьи</a></li>
                    <li class="down-item"><a href="#" class="down-link">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
  <div class="container">

      <div class="footer-title"><i class="fa fa-map-marker" aria-hidden="true"></i> Как нас найти:</div>

      <ul class="footer-list">
      <li class="footer-item">
          <address><strong>г. Киев (ЦЕНТР),</strong><br>
              ул.Красноармейская, 72а<br>
              метро ОЛИМПИЙСКАЯ",<br>
              ТЦ "Олимпийский", 3-й этаж;<br>
              <a href="tel:+380445932605">(044) 593-26-05</a>
          </address>
      </li>
      <li class="footer-item">
          <address><strong>г. Киев (левый берег),</strong><br>
              ул. Беломорская,1.<br>
              ТЦ "Дарынок", метро "ЛЕСНАЯ",<br>
              Бутик ПК-15, напротив ФУРШЕТА<br>
              <a href="tel:+380958026174">(095) 802-61-74</a>
          </address>
      </li>
      <li class="footer-item">
          <address><strong>г. Киев (Опт,мелкий опт),</strong><br>
              ул. Заболотного, 37<br>
              ТЦ "Art Mall", 2-й этаж<br>
              <a href="tel:+380503480138">(050) 348-01-38</a>

          </address>
      </li>
      <li class="footer-item">
          <address><strong>Центральный офис</strong><br>
          <a href="tel:+380503480138">(050) 348-01-38</a><br>
              (работа с оптовыми<br>
              покупателями)
              </address>
      </li>
      <li class="footer-item">
          <address><strong>г. Одесса,</strong><br>
              ул. Дерибасовская-33<br>
              (ул.Преображенская-34)<br>
              <a href="tel:+380487261712">(048) 726-17-12</a>
          </address>
      </li>
    </ul>
      <ul class="footer-list">
          <li class="footer-item">Время работы:<br>
              Пн-Сб: с 9:00 до 18:00,<br>
              Вс - выходной
          </li>
          <li class="footer-item text-center">Присоединяйтесь к нам::<br>
              <a href="#" class="footer-item-link"><img src="img/logo_vk.png" alt="vk" class="img-fluid"></a>
              <a href="#" class="footer-item-link"><img src="img/logo_f.png" alt="facebook"></a>
          </li>
          <li class="footer-item">
              &copy;Лавка Художника, 2019 Все права защищены. Использование любых материалов,<br>
              находящихся на сайте, разрешается при условии размещения гиперссылки.
          </li>
      </ul>
        
  </div>

</footer>
  <script	src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="js/slick.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script scr="js/jquery.magnific-popup.min.css"></script>
  <script src="js/script.js"></script>

	</body>
</html>